<h3 id="tableLabel">New Links</h3>

<p>Your source for what is happening around the globe</p>

<p *ngIf="!feedStories"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="feedStories">
  <thead>
    <tr>
      <th>Title</th>
      <th>From</th>
      <th>Published</th>
      <th>Author</th>
      <th>Comments</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let story of feedStories">
      <td><a href="{{ story.url }}" target="_blank">{{ story.title }}</a></td>
      <td>{{ story.baseUrl }}</td>
      <td>{{ story.published }}</td>
      <td>{{ story.author }}</td>
      <td>{{ story.commentCount }}</td>
    </tr>
  </tbody>
</table>
